---
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<footer class="bg-bg text-fg-muted text-sm">
  <div
    class="max-w7xl mx-a px5 sm-px10 md-px12 lg-px5 grid grid-cols-2 lg-grid-cols-6 gap12 lg-gap16 py20"
  >
    <div class="space-y-6 col-span-2">
      <a href="/" class="relative flex items-center gap-3">
        <div class="relative w-7 h-7 overflow-hidden flex rounded-xl">
          <span
            class="absolute size-4 -top-1 -right-1 bg-secondary/60 rd-md rotate-45"
          ></span>
          <span
            class="absolute size-4 -top-1 -left-1 bg-primary rd-md rotate-45"
          ></span>
          <span
            class="absolute size-4 -bottom-1 -right-1 bg-primary rd-md rotate-45"
          ></span>
          <span
            class="absolute size-4 -bottom-1 -left-1 bg-primary/60 rd-md rotate-45"
          ></span>
          <span
            class="absolute size-2 rd-full bg-primary top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          ></span>
        </div>
        <div class="inline-flex text-lg font-semibold text-fg-title">
          InnoAgency
        </div>
      </a>
      <p class="max-w-lg">
        We are a team of passionate designers and developers who are always
        looking for new ways to create beautiful and functional websites.
      </p>
      <ThemeSwitcher />
    </div>
    <div class="space-y-6">
      <h1 class="text-sm font-medium text-fg-title">Links</h1>
      <ul class="space-y-3">
        <li>
          <a href="#" class="duration-200 hover-text-primary text-fg-muted"
            >Home</a
          >
        </li>
        <li>
          <a href="#" class="duration-200 hover-text-primary text-fg-muted"
            >About</a
          >
        </li>
        <li>
          <a href="#" class="duration-200 hover-text-primary text-fg-muted"
            >Contact</a
          >
        </li>
        <li>
          <a href="#" class="duration-200 hover-text-primary text-fg-muted"
            >Portfolio</a
          >
        </li>
        <li>
          <a href="#" class="duration-200 hover-text-primary text-fg-muted"
            >Services</a
          >
        </li>
      </ul>
    </div>
    <div class="space-y-6">
      <h1 class="text-sm font-medium text-fg-title">Ressources</h1>
      <ul class="space-y-3">
        <li>
          <a href="#" class="duration-200 hover-text-primary text-fg-muted"
            >Blog</a
          >
        </li>
        <li>
          <a href="#" class="duration-200 hover-text-primary text-fg-muted"
            >Privacy</a
          >
        </li>
        <li>
          <a href="#" class="duration-200 hover-text-primary text-fg-muted"
            >Terms</a
          >
        </li>
        <li>
          <a href="#" class="duration-200 hover-text-primary text-fg-muted"
            >Carreer</a
          >
        </li>
      </ul>
    </div>
    <div class="space-y-6 col-span-2">
      <h1 class="text-sm font-medium text-fg-title">News-letter</h1>
      <form class="w-full max-w-2xl flex flex-col sm:flex-row gap-3">
        <input
          type="email"
          placeholder="johndoe@gmail.com"
          class="ui-form-base ui-form-input ui-form-input-md bg-bg bg-bg-surface b b-border-strong/90 rd-lg b-transparent text-fg"
        />
        <button class="btn btn-md btn-solid btn-solid-primary rd-lg text-white">
          Subscribe
        </button>
      </form>
    </div>
  </div>
  <div class="max-w7xl mx-a px5 sm-px10 md-px12 lg-px5">
    <div
      class="w-full flex flex-col md-flex-row gap-4 items-center sm-justify-between py3 b-t b-border text-fg"
    >
      <div class="flex text-center sm-text-left sm-min-w-max max-w-full">
        <p>© {new Date().getFullYear()} Inno Agency. All right reserved</p>
      </div>
      <div class="flex justify-center sm-justify-end w-full gap-3">
        <a
          href="#"
          aria-label="Link to Linkedin"
          class="btn btn-icon-sm rd-md btn-outline btn-outline-gray"
        >
          <span class="flex i-ph-linkedin-logo"></span>
        </a>
        <a
          href="#"
          aria-label="Link to X"
          class="btn btn-icon-sm rd-md btn-outline btn-outline-gray"
        >
          <span class="flex i-ph-x-logo"></span>
        </a>
        <a
          href="#"
          aria-label="Link to GitHub"
          class="btn btn-icon-sm rd-md btn-outline btn-outline-gray"
        >
          <span class="flex i-ph-github-logo"></span>
        </a>
      </div>
    </div>
  </div>
</footer>
