<section
  id="expertises"
  class="py20 md-py28 px5 sm-px10 md-px12 lg-px5 lg-max-w-7xl mxa w-full relative"
>
  <div
    aria-hidden="true"
    class="absolute top-1/2 left-1/2 -translate-1/2 w-3/5 h-4/5 ui-grid-dotted ui-grid-square-lg ui-striped-mask-oval text-fg-muted/30 pointer-event-none"
  >
    <span
      class="mx-a w-2/5 h-4/5 mt40 -rotate-45 flex bg-gradient-to-bl from-primary/40 dark-from-primary rounded-full blur-3xl op10 dark-op30"
    ></span>
  </div>
  <div class="mxa text-center flex flex-col items-center relative">
    <span class="ui-size-sm rd-xl ui-outline ui-outline-gray">
      Our Expertise
    </span>
    <h2
      class="text-fg-title font-medium text-3xl/snug text-balance max-w-xl mt6"
    >
      Expand Your Reach and Influence with Our Services
    </h2>
  </div>
  <div class="mt14 grid sm-grid-cols-2 gap6 mt16 mxa lg-max-w6xl relative">
    <div class="grid sm-grid-cols-2 lg-grid-cols-3 col-span-full gap6">
      <div
        class="bg-bg/40 backdrop-blur-sm backdrop-saturate-150 b b-border-strong/40 shadow-lg shadow-bg-subtle/50 relative before-absolute before-content-empty before-inset-0.5 before-b before-b-border-light/30 before-inner-radius ui-card cp-0.5 c-rd-xl"
      >
        <div class="px5 pt5">
          <div
            class="bg-bg-surface rd-md size-11 text-fg relative flex items-center justify-center text-xl"
          >
            <span class="flex i-ph-chat-circle-dots"></span>
          </div>
        </div>
        <div class="space-y-3 relative px5 pb5 mt5 lg-mt-16">
          <h3 class="text-xl font-medium text-fg-title">Social Management</h3>
          <p class="text-fg-muted">
            Full-service management of your social profiles to grow your active
            community.
          </p>
        </div>
      </div>
      <div
        class="bg-bg/40 backdrop-blur-sm backdrop-saturate-150 b b-border-strong/40 shadow-lg shadow-bg-subtle/50 relative before-absolute before-content-empty before-inset-0.5 before-b before-b-border-light/30 before-inner-radius ui-card cp-0.5 c-rd-xl"
      >
        <div class="px5 pt5">
          <div
            class="bg-bg-surface rd-md size-11 text-fg relative flex items-center justify-center text-xl"
          >
            <span class="flex i-ph-megaphone"></span>
          </div>
        </div>
        <div class="space-y-3 relative px5 pb5 mt5 lg-mt-16">
          <h3 class="text-xl font-medium text-fg-title">Performance Ads</h3>
          <p class="text-fg-muted">
            Targeted ad campaigns that convert clicks into loyal customers
            efficiently.
          </p>
        </div>
      </div>
      <div
        class="bg-bg/40 backdrop-blur-sm backdrop-saturate-150 b b-border-strong/40 shadow-lg shadow-bg-subtle/50 relative before-absolute before-content-empty before-inset-0.5 before-b before-b-border-light/30 before-inner-radius ui-card cp-0.5 c-rd-xl"
      >
        <div class="px5 pt5">
          <div
            class="bg-bg-surface rd-md size-11 text-fg relative flex items-center justify-center text-xl"
          >
            <span class="flex i-ph-palette"></span>
          </div>
        </div>
        <div class="space-y-3 relative px5 pb5 mt5 lg-mt-16">
          <h3 class="text-xl font-medium text-fg-title">Brand Identity</h3>
          <p class="text-fg-muted">
            Building a cohesive and memorable brand image across all digital
            channels.
          </p>
        </div>
      </div>
    </div>
    <div
      class="bg-bg/40 backdrop-blur-sm backdrop-saturate-150 b b-border-strong/40 shadow-lg shadow-bg-subtle/50 relative before-absolute before-content-empty before-inset-0.5 before-b before-b-border-light/30 before-inner-radius ui-card cp-0.5 c-rd-xl flex flex-col gap5 items-start md-flex-row"
    >
      <div class="px5 md-pr0 pt5">
        <div
          class="bg-bg-surface rd-md size-11 text-fg relative flex items-center justify-center text-xl"
        >
          <span class="flex i-ph-magnifying-glass"></span>
        </div>
      </div>
      <div class="space-y-3 relative px5 md-pt5 md-pl0 pb5">
        <h3 class="text-xl font-medium text-fg-title">SEO Optimization</h3>
        <p class="text-fg-muted">
          Boost your online visibility and drive sustainable organic traffic
          with our data-driven SEO strategies that help you rank higher on
          search engines.
        </p>
      </div>
    </div>
    <div
      class="bg-bg/40 backdrop-blur-sm backdrop-saturate-150 b b-border-strong/40 shadow-lg shadow-bg-subtle/50 relative before-absolute before-content-empty before-inset-0.5 before-b before-b-border-light/30 before-inner-radius ui-card cp-0.5 c-rd-xl flex flex-col gap5 items-start md-flex-row"
    >
      <div class="px5 md-pr0 pt5">
        <div
          class="bg-bg-surface rd-md size-11 text-fg relative flex items-center justify-center text-xl"
        >
          <span class="flex i-ph-star"></span>
        </div>
      </div>
      <div class="space-y-3 relative px5 md-pt5 md-pl0 pb5">
        <h3 class="text-xl font-medium text-fg-title">Influencer Marketing</h3>
        <p class="text-fg-muted">
          Connect with your target audience through authentic partnerships with
          industry-leading influencers who align with your brand values and
          vision.
        </p>
      </div>
    </div>
  </div>
</section>
