---
import { Image } from "astro:assets";
---

<section class="relative pt32 lg-pt36 pb16">
  <div
    class="absolute inset-0 ui-grid ui-striped-overlay-mask [--unify-ui-grid-width:24px] [--unify-ui-grid-height:24px] text-fg-muted/10 dark-text-primary/10 op50"
  >
  </div>
  <div
    class="relative mx-a lg-max-w-7xl w-full px5 sm-px10 md-px12 lg-px5 flex flex-col lg:flex-row gap-16"
  >
    <div
      class="relative flex flex-col items-center text-center lg-text-left lg-py7 xl-py8 lg-items-start lg-max-w-none max-w-3xl mx-a lg-mx-0 lg-flex-1 lg-w-1/2"
    >
      <span class="ui-size-sm rd-xl ui-outline ui-outline-gray">
        Special Social
      </span>
      <h1
        class="text-3xl/tight sm-text-4xl/tight md-text-5xl/tight xl-text-6xl/tight text-balance font-bold text-transparent bg-clip-text bg-gradient-to-br from-fg-title from-20% via-fg-muted via-30% to-fg mt-8"
      >
        Revolutionize <span class=""> Your Brand</span> with Powerful Marketing!
      </h1>
      <p class="mt8 text-fg max-w-md">
        Boost your brand’s visibility, engage your audience, and drive real
        results with cutting-edge social media marketing strategies. It’s time
        to stand out and grow like never before!
      </p>
      <div
        class="mt10 w-full flex max-w-md mx-a lg-mx-0 lg-max-w-none gap-3 items-center flex-wrap justify-center lg-justify-start"
      >
        <a
          href="#"
          class="justify-center btn btn-lg btn-solid btn-solid-primary text-white rd-ui"
        >
          Get In Touch
        </a>

        <a
          href="#"
          class="justify-center btn btn-lg btn-outline btn-outline-gray text-fg rd-ui"
        >
          See our work
        </a>
      </div>
    </div>

    <div
      class="flex flex-1 lg-w-1/2 lg-h-auto relative lg-max-w-none lg-mx-0 mxa max-w-3xl"
    >
      <Image
        src="/hero-img.webp"
        alt="Hero image"
        width="2350"
        height="2359"
        class="lg:absolute lg:w-full lg:h-full rounded-xl object-cover lg:max-h-none max-h-96"
      />
      <div
        class="absolute w66 left-1/2 -translate-x-1/2 -bottom-6 p-2 bg-bg/80 backdrop-blur-md b b-border-strong/50 rd-xl shadow-sm shadow-bg-bg-muted/40 dark-shadow-transparent flex items-center before-absolute before-content-empty before-inset-x-3 before-h-2 before-flex before-bg-bg/80 before-b before-b-border-strong/50 before-bt-none before-rd-b-xl before--bottom-2 before-shadow-sm before-shadow-bg-bg-muted/40 before-shadow-transparent"
      >
        <span
          aria-hidden="true"
          class="size-12 flex items-center justify-center rd-lg ui-soft ui-soft-primary mr-4"
        >
          <span class="flex i-ph-person text-2xl"></span>
        </span>
        <div class="flex flex-col">
          <span class="font-semibold text-xl text-fg-title">+20</span>
          <span class="text-sm text-fg-muted">Satisfaction</span>
        </div>
      </div>
    </div>
  </div>
</section>
