<div
  data-theme-switcher-group
  class="rounded-ui bg-bg-surface b b-border-subtle p1 flex items-center wmax text-fg [--inner-radius:calc(var(--radius-ui)-0.25rem)]"
>
  <button
    data-theme-switcher
    data-theme="dark"
    aria-label="Set theme to dark"
    class="size-7 text-xs flex items-center justify-center fx-active-bg-bg b b-transparent fx-active-b-border rd-ui"
    data-state="active"
  >
    <span aria-hidden="true" class="i-ph-moon-stars"></span>
  </button>
  <button
    data-theme-switcher
    data-theme="light"
    aria-label="Set theme to light"
    class="size-7 text-xs flex items-center justify-center fx-active-bg-bg b b-transparent fx-active-b-border rd-ui"
  >
    <span aria-hidden="true" class="i-ph-sun"></span>
  </button>
  <button
    data-theme-switcher
    data-theme="system"
    aria-label="Set theme to system theme"
    class="size-7 text-xs flex items-center justify-center fx-active-bg-bg b b-transparent fx-active-b-border rd-ui"
  >
    <span aria-hidden="true" class="i-ph-device-mobile-camera"></span>
  </button>
</div>