---
import "@assets/css/style.css";
import AppFooter from "@components/AppFooter.astro";
import AppNavbar from "@components/AppNavbar.astro";
import SEO from "@components/SEO.astro";

export interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  ogImage?: string;
}

const { title, description, keywords, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <SEO
      title={title}
      description={description}
      keywords={keywords}
      ogImage={ogImage}
    />
  </head>
  <body class="bg-bg overflow-hidden overflow-y-auto lg-overflow-y-auto">
    <AppNavbar />
    <slot />
    <AppFooter />
  </body>
</html>
